<main class="main">
    <div class="members">
        {%- for member in members -%}
            <div class='member'>
                <div class='member-flex'>
                    <div class='member-info'>
                        <h2> {{ member.post[page.lang] }} </h2>
                        <h3> {{ member.name  }} </h3>
                        <p> {{ member.gmail  }} </p>
                    </div> 
                    <div class='member-photo'>
                        {% if member.img %}
                            <img src={{'/img/members/' | append: member.img}}></img>
                        {% else %}
                            <img src='/img/members/profile.png'></img>
                        {% endif %}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</main>